@using AHLVBShopUI.Core.Model
@model RequestViewModel
@{
	ViewData["Title"] = "UpdateRequest";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form action="/Request/UpdateRequest" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" />

			<div class="form-group">
				<label hidden="hidden" asp-for="Id">İstek</label>
				<input hidden="hidden" asp-for="Id" class="form-control" />

				<label asp-for="RequestTitle">İstek Başlığı</label>
				<input asp-for="RequestTitle" class="form-control" />
				<span asp-validation-for="RequestTitle" class="text-danger"></span>

				<label asp-for="Description">Açıklama</label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>


				<label hidden="hidden" asp-for="Status"></label>
				<input hidden="hidden" asp-for="Status" value="Onay Bekliyor." class="form-control" />
				<span hidden="hidden" asp-validation-for="Status" class="text-danger"></span>

			</div>
			<div class="form-group">
				<label>İsteği yapan kişi</label>
				<select class="form-control" name="EmployeeId">
					@foreach (var item in Model.Employees)
					{
						<option value="@item.Id">@item.Id</option>



					}
					@foreach (var item in Model.Employees)
					{
						<input hidden="hidden" asp-for="EmployeeName" value="@item.Id" class="form-control" />
					}
				</select>
			</div>

			<div class="form-group">
				<label>Ürün</label>
				<select class="form-control" name="ProductID">
					@foreach (var item in Model.Products)
					{
						<option value="@item.Id">@item.ProductName</option>



					}
					@foreach (var item in Model.Employees)
					{
						<input hidden="hidden" asp-for="ProductName" value="@item.Id" class="form-control" />
					}
				</select>
			</div>

			<div class="form-group">
				<label for="exampleInputText1">Durum </label>

				<select class="form-control" name="Status">
					<option>Lütfen Seçim Yapınız</option>
					<option>Onaylandı</option>
					<option>Reddedildi</option>
				</select>
			</div>


			<div class="form-group">
				<input type="submit" value="Ekle" class="btn btn-primary" />
				<a class="btn btn-info" asp-action="Index">Listeye geri dön</a>
			</div>

		</form>


	</div>
	<div class="col-md-3"></div>

</div>
